*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #000000bd;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffffe1;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px #000;
  border-radius: 5px;
}